<% provide :title, "Show Entry" %>
<div class="row">
  <div class="col-sm-12 col-md-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Entry</strong>
      </div>
      <div class="panel-body">
        <p id="notice"><%= notice %></p>
          <p>
            <strong>Title:</strong>
            <%= @entry.title %>
          </p>
          <p>
            <strong>Text:</strong>
            <%= @entry.body %>
          </p>
          <p>
            <strong>Date:</strong>
            <%= @entry.date %>
          </p>
          <%= link_to 'Back', entries_path %>
          <% if current_user.present?%>
            | <%= link_to 'Edit', edit_entry_path(@entry) %>
            <div class="row">
              <div class="comment-form">
                <%= render "comments/form" %>
              </div>
            </div>
          <% else %>
            <h2>Comments</h2>
          <% end %>
          <div class="row">
            <div class="col-md-12">
              <div class="comments">
                <%= render partial: "comment", collection: @comments %>
              </div>
            </div>
          </div>
          <div class="text-right">
            <%= paginate @comments %>
          </div>
      </div>
    </div>
  </div>
</div>
