<footer class="footer">
  <div style="padding-left:14px">
  <small>
    <%=  "the" %> <%= link_to ("ruby_on_rails_tutorial"), "railsTutorial" %>
    <%=  "by" %>  <%= link_to ("michael_hartl"), "michaelHartl" %><br>
  </div>
  </small>
  <nav style="padding-right:15px">
    <ul>
      <li><%= link_to ("about"), "#"%></li>
      <li><%= link_to ("contact"), "#" %></li>
      <li><%= link_to ("news"), "#" %></li>
    </ul>
  </nav>
  </div>
</footer>
